
.containerItem{
    width:200px;
    margin-right: 700px;
    padding-left:70px;
    padding-bottom: 20px;
    text-align: center;
}

.container{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}


.atom{
    width:150px;
    padding-bottom: 500px;
}

.card{
    position: absolute;
    text-align: center;
    width:600px;
    background-color: honeydew;
    margin-left: 450px;
    right: 10px;
    margin-top: -600px;
    line-height: 33px;
    height: 500px;
   
}

.cardItem{
    text-align: center;
}

.noa{
    width: 200px;
}