.footer{
    background-color: rgb(238, 238, 196);
    display: flex;
    justify-content: space-between;
  
    margin-top: 220px;
}


.footerItem{
    max-width:150px;
    display: flex;
    justify-content: center;
    
    
}
.profilecard{
    margin-right: 750px;
}
.info{
    position: absolute;
    margin-bottom: 400px;
    max-width: 400px;
    margin-left: 500px;
     top: 300px;
}

.noa{
    width:200px;
    height: 300px;
}