.container{

    margin-right: 800px;
    flex-wrap: wrap;
    padding-right:200px ;
   
    width:400px;
   

}

.frame{
    background-color: honeydew,100%;
}
.container2{
    width:300px;
    position: absolute;
    margin-left: 600px;
    background-color: pink;
    
}

.ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.first{

    list-style-type: circle;
}

.container3{
    flex-wrap: wrap;
    width: 200px;
    background-color: pink;

    margin-left: 1000px;
    
}